# Sample git config URL redirection
# Copy this information to ~/.gitconfig or equivalent
# See https://git-scm.com/docs/git-config for further information
# To debug, use GIT_CURL_VERBOSE=1 GIT_TRACE=1

[url "https://git.yoctoproject.org/meta-arago"]
	insteadOf = git://arago-project.org/git/meta-arago
	insteadOf = http://arago-project.org/git/meta-arago
	insteadOf = git://git.yoctoproject.org/meta-arago

[url "https://git.yoctoproject.org/meta-ti"]
	insteadOf = git://arago-project.org/git/meta-ti
	insteadOf = http://arago-project.org/git/meta-ti
	insteadOf = git://git.yoctoproject.org/meta-ti

[url "https://git.ti.com/arago-project/oe-layersetup"]
	insteadOf = git://arago-project.org/git/projects/oe-layersetup
	insteadOf = http://arago-project.org/git/projects/oe-layersetup
	insteadOf = git://git.ti.com/arago-project/oe-layersetup
